@*@model IEnumerable<Portfolio.Models.BlogPost>*@

@{
    ViewData["Title"] = "Blog Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Portfolio Blog</h2>
<hr />
<div class="options">
    @Html.ActionLink("Create new post", "Create")
</div>