@*@model IEnumerable<Portfolio.Models.BlogPost>*@

@{
    ViewData["Title"] = "Blog Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Portfolio Blog</h2>
<hr />
@if (User.IsInRole("Admin"))
{
<div>
    @Html.ActionLink("Create new post", "Create")
</div>

}
    