@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<ul class="list-unstyled">
    <li><label>Email:</label> kayla.renee at gmail dot com</li>
    <li><label>Twitter:</label><a href="http://www.twitter.com/grepcats" target="_blank"> grepcats</a></li>
    <li><label>Linkedin:</label><a href="https://www.linkedin.com/in/krondracek/" target="_blank"> https://www.linkedin.com/in/krondracek/
        </a></li>
    <li><label>Github:</label><a href="https://github.com/grepcats/" target="_blank"> https://github.com/grepcats/</a></li>
</ul>



