@{
    ViewData["Title"] = "Contact";
}

<div class="contact-icons">
    <h2>@ViewData["Title"]</h2>
    <a href="http://www.twitter.com/grepcats" target="_blank"><i class="fab fa-twitter-square fa-5x"></i></a>
    <a href="https://www.linkedin.com/in/krondracek/" target="_blank"><i class="fab fa-linkedin fa-5x"></i></a>
    <a href="https://github.com/grepcats/" target="_blank"><i class="fab fa-github-square fa-5x"></i></a>
    <a href="mailto:kayla.renee@gmail.com"><i class="fas fa-envelope-square fa-5x"></i></a>

</div>

