@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="home">
    <h2 class="text-center">Welcome to Kayla's Portfolio</h2>
    <img class="profile-pic" src="~/images/Profile.jpg" />
    <div class="text-body">
        <p>I moved to Portland, Oregon in September of 2016 after 7 years in Michigan. I'm a PNW native and am thrilled to be back next to the ocean.</p>

        <p>Having a deep love of reading, learning, and helping others, I started my professional career training in librarianship. I shifted quickly to archival training, then to data analysis once I left graduate school and began working, to project management, and now to fledgling developer. All of my career paths have focused on facilitating access to information for others, whether directly in libraries and archives or indirectly through building tools or munging data.</p>

        <p>My current hobbies include reading (currently a lot of sci-fi), running, climbing, or practicing aerial arts. I'm always looking for more climbing/hiking partners!</p>
    </div>

</div>
