@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="home">
    <h2 class="text-center">Welcome to Kayla's Portfolio</h2>
    <img class="profile-pic" src="~/images/Profile.jpg" />

</div>
