@{
    ViewData["Title"] = "Resume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="job">
    <h2>Work Experience</h2>
    <h4>Technical Project Manager</h4>
    <h5>DAT Solutions. Portland, OR. 2016-2017</h5>
    <ul>
        <li>Served as Scrum Master for web and mobile product development. Projects included replacement data-heavy web application serving 27k customers and integrating a new authentication system (Auth0) into mobile products.</li>
        <li>Led migration of 15k-user Broker/Carrier product to AWS. This included retirement of 15 year old legacy desktop application and migration of users from that application</li>
        <li>Developed story/road maps and managed release planning with JIRA</li>
        <li>Managed stakeholder communication including engineering, sales, marketing, support, and upper management</li>
    </ul>
    
</div>