@{
    ViewData["Title"] = "Resume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p><a target="_blank" href="~/docs/Ondracek_Dev.pdf">Click here to download full resume</a></p>
<p><a target="_blank" href="https://gist.github.com/grepcats/1662ed479e35f4e2b37ba38bbeffe75a">Click here for the gist version of my resume</a></p>


<h2>Professional Experience</h2>
<div class="job">
    <h3>Technical Project Manager</h3>
    <h4>DAT Solutions in Portland, OR. 2016-2017</h4>
    <p>Served as a Scrum Master for mobile and web application development and helped guide the migration of a major product into AWS.</p>
</div>
<div class="job">
    <h3>Digital Project Manager</h3>
    <h4>University of Michigan in Ann Arbor, MI. 2015-2016</h4>
    <p>Served as a Product Owner for open source software development projects, focusing on accessible interfaces. Also coordinated statewide metadata aggregation effort for <a href="https://dp.la/search?partner=%22Michigan%20Service%20Hub%22">Digital Public Library of America</a>.</p>
</div>
<div class="job">
    <h3>Metadata Analyst</h3>
    <h4>ProQuest in Ann Arbor, MI. 2011-2015</h4>
    <p>Served as data analyst and Product Owner for web application development and database development.</p>
</div>

<h2>Education</h2>
<div class="education">
    <h3>Epidocus</h3>
    <h4>Certificate in Web Development, 2018</h4>
    <p>Focus on web development in C#/ASP.NET and JavaScript/Angular.</p>
</div>
<div class="education">
    <h3>University of Michigan</h3>
    <h4>Master of Science in Information, 2011</h4>
    <p>Archives/Records Management and Digital Preservation. Additional coursework in Perl, R, Python, PHP, Information Systems.</p>
</div>
<div class="education">
    <h3>University of Washington</h3>
    <h4>Bachelor of Arts in English and Classical Studies, 2008</h4>
    <p>Phi Beta Kappa. Reading books & writing papers.</p>
</div>


<h2>Active Certifications</h2>
<div class="certification">
    <h3>AWS Certified Solutions Architect - Associate</h3>
    <h3>Certified Scrum Master</h3>
    <h3>Project Management Professional (PMP)</h3>
</div>