body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #C9E4CA;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 60px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.username {
    color: #55828B;
    padding: 15px;
}

.logout-button {
    margin-top: 15px;
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 200px;
}

.time {
    font-style: italic;
    color: grey;
    font-size: .75em;
}

.comment {
    display:flex;
    flex-direction: row;
}

.comment-item {
    padding: 5px;
}

.clickable {
    font-size: 1.5em;
    margin-left: 20px;
}

.clickable:hover {
    cursor: pointer;
    color: green;
}

.comments {
    margin-top: 30px;
}

.blog-posts {
    font-size: 1.5em;
    font-weight: bold;
}

.blog-posts:hover {
    cursor: pointer;
    color: green;
}

.li {
    width: 100%;
}



.nav-bar {
    background: #181818;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
}

.upper-section {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    margin-top: 20px;
    width: 100%;
}

.lower-section {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 75%;
    margin-top: -200px;
    width: 100%;
}

.nav-bar {
    background-color: #364958;
}

.nav li a {
    text-decoration: none;
    display: block;
    padding: 15px;
}

.nav a {
    color: #55828B;
}

.nav li i {
    padding: 0 10px;
}

.nav li b {
    display: none;
    font-size: .75em;
}

.nav a:hover i {
    display: none;
}

.nav a:hover b {
    display: block;
    color: #55828B;
    background-color: #364958;
}

.nav > li > a:hover {
    background-color: #364958;
}

li.home {
    background-color: #364958;
}

.navbar-brand {
    padding: 10px;
    color: #C9E4CA;
}

.navbar-brand:hover {
    color: #C9E4CA;
}

.container {
    margin-left: 60px;
}


.nav li {
    width: 60px;
}

.contact-icons {
    text-align: center;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
