@{
    ViewData["Title"] = "Blog Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blog</h2>
<hr />
@if (User.IsInRole("Admin"))
{
<div>
    @Html.ActionLink("Create new post", "Create")
</div>

}

<p class="blog-posts">Click to see blog posts</p>
<div id="posts">

</div>
    